@font-face {
font-family: 'Raleway-Light'; /* имя шрифта для CSS правил */
src: local("Raleway-Light"), /* проверяем наличие шрифта в ОС пользователя */
url("fonts/raleway-light-webfont.ttf"),
url("fonts/raleway-light-webfont.eot"),
url("fonts/raleway-light-webfont.woff");
}

@font-face {
font-family: 'Raleway-Regular'; /* имя шрифта для CSS правил */
src: local("Raleway-Regular"), /* проверяем наличие шрифта в ОС пользователя */
url("fonts/raleway-regular-webfont.ttf"),
url("fonts/raleway-regular-webfont.eot"),
url("fonts/raleway-regular-webfont.woff");
}


@font-face {
font-family: 'Raleway-Bold'; /* имя шрифта для CSS правил */
src: local("Raleway-Bold"), /* проверяем наличие шрифта в ОС пользователя */
url("fonts/raleway-bold-webfont.ttf"),
url("fonts/raleway-bold-webfont.eot"),
url("fonts/raleway-bold-webfont.woff");
}

@font-face {
font-family: 'OldStandart-Bold'; /* имя шрифта для CSS правил */
src: local("OldStandart-Bold"), /* проверяем наличие шрифта в ОС пользователя */
url("fonts/oldstandard-bold-webfont.ttf"),
url("fonts/oldstandard-bold-webfont.eot"),
url("fonts/oldstandard-bold-webfont.woff");
}

@font-face {
font-family: 'OldStandart-Regular'; /* имя шрифта для CSS правил */
src: local("OldStandart-Regular"), /* проверяем наличие шрифта в ОС пользователя */
url("fonts/oldstandard-regular-webfont.ttf"),
url("fonts/oldstandard-regular-webfont.eot"),
url("fonts/oldstandard-regular-webfont.woff");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	border: 0;
	max-width: 100%;
}

body,
html {
	min-height: 100%;
}

body {
	width: 100%;
}

input:focus,
textarea:focus {
	outline: none;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

		/* Header */

header {
	width: 100%;
	height: 144px;
	background-color: #fff;
}

.logo {
	float: left;
	margin-top: 49px;
}

.close {
	float: right;
	margin-top: 76px;
	height: 10px;
	width: 15px;
	background-image: url(images/plus.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.head_menu {
	float: right;
	margin-top: 64px;
	
}

.head_menu a {
	display: inline-block;
	padding: 5px 34px 5px 0;
    background-image: url(images/spot.png);
	background-repeat: no-repeat;
	background-position: 77px 8px;
	font: 15px 'Raleway-Light';
	color: #222222;
	text-transform: uppercase;
	vertical-align: middle;
}

.head_menu a:nth-child(3) {
	background-position: 105px 7px;
}

.head_menu a:nth-child(4) {
	background-position: 94px 7px;
}

.head_menu a:last-child {
	background-image: none;
}

.head_menu a.active,
.head_menu a:hover {
	font: 15px 'Raleway-Bold';
}

.head_menu a.active:after,
.head_menu a:hover:after {
	content: "";
	display: block;
	width: 23px;
	height: 1px;
	background-color: #222;
	margin: 0 auto;
}


		/* Section Head */
		
.header_topic {
	clear: both;
	width: 100%;
	height: auto;
	background-color: #000;
	text-align: center;
}

.header_topic h1 {
	font: 64px 'Raleway-Light';
	color: #fff;
	padding: 107px 0;
}

.header_topic h1 span {
	font: 64px 'Raleway-Bold';
	color: #fff;
}

		/* Blog / Journal */

.journal {
	clear: both;
	width: 100%;
	height: auto;
}

.journal_item {
	width: 50%;
	height: 398px;
	float: left;
	background-color: #f9f9f9;
	position: relative;
	text-align: center;
}

.j_item2 {
	background-color: #eaeaea;
}

.p_block {
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0;
	padding: 34px 35px;
	text-align: center;
	background-color: #fff;
	height: auto;
	font: 17px 'Raleway-Bold';
	color: #222;
}

.p_block:before,
.journal_item_info:before {
	content: "";
	width: 1px;
	height: 0;
	display: block;
	position: absolute;
	top: -17px;
	left: 321px;
	border-bottom: 17px solid #fff;
	border-right: 17px solid transparent;
	border-left: 17px solid transparent;	
}

.journal_item_hover {
	width: 100%;
	height: 398px;
	-webkit-box-shadow: 0px 0px 77px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 77px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 77px -2px rgba(0,0,0,0.75);
	background-color: #f9f9f9;
	text-align: center;
	position: absolute;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
	transition: ease 0.3s;
}

div:hover.journal_item .journal_item_hover {
	opacity: 1;
}

.journal_item_hover button {
	margin-top: 97px;
	padding: 15px 29px;
	background-color: #fff;
	border: 0;
	font: 13px 'Raleway-Bold';
	color: #222;
	cursor: pointer;
	transition: ease 0.3s;
}

.journal_item_hover button:hover {
	background-color: #222;
	color: #fff;
}

.journal_soc {
	background-color: #fff;
	width: 184px;
	height: auto;
	position: absolute;
	right: 0;
	bottom: 179px;
}

.journal_soc p {
	font: 13px 'Raleway-Bold';
	color: #7b7b7b;
	padding: 1px 0 7px 16px;
	display: inline-block;
}

x:-moz-any-link, .journal_soc {
	bottom: 190px;
}

.journal_soc nav {
	margin: 12px 0;
	font-size: 0;
	display: inline-block;
}

.journal_soc nav a {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(images/soc2.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-left: 17px;
}

.journal_soc nav .fb {
	background-position: -15px 0;
}

.journal_soc nav .ggl {
	background-position: -30px 0;
}

.journal_item_info {
	position: absolute;
	bottom: 0;
	background-color: #fff;
	padding: 29px 60px 28px 60px;
}

.journal_item_info span {
	font: 13px 'Raleway-Regular';
	color: #7b7b7b;
}

.journal_item_info p {
	font: 17px 'Raleway-Bold';
	color: #222;
	padding-top: 4px;
}

.journal_item_info .info {
	font: 13px 'Raleway-Regular';
	color: #222;
	padding-top: 23px;
}

.post_button {
	clear: both;
	width: 100%;
	height: auto;
	background-color: #1b1b1b;
	text-align: center;
}

.post_button button {
	padding: 18px 202px;
	border: 1px solid #fff;
	font: 16px 'Raleway-Bold';
	color: #fff;
	background-color: transparent;
	margin-top: 27px;
	transition: ease 0.5s;
	cursor: pointer;
	margin-bottom: 27px;
}

.post_button button:hover {
	background-color: #fff;
	color: #1b1b1b;
}

		/*  Contact us */

.contact {
	clear: both;
	width: 100%;
	height: auto;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	text-align-last: justify;
}
  
.wrapper::after {
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: "";
	display: inline-block;
}

.item {
	width: 30%;
	display: inline-block;
	text-align: left;
	line-height: normal;
	font-size: 14px;
	vertical-align: top; 
	//display : inline;
}


.contact_item {
	width: 49%;
	margin-top: 100px;
}

.contact_item img {

}

.contact_item span {
	display: block;
	margin-top: 15px;
	font: 13px 'Raleway-Regular';
	color: #222;
}

.contact_item aside {
	margin: 36px 0 0 54px;
}

.contact_item address,
.contact_item p {
	font: 15px 'Raleway-Regular';
	color: #222;
	padding-left: 38px;
	font-style: normal;
	margin-bottom: 11px;
	background-image: url(images/home.png);
	background-repeat: no-repeat;
	background-position: 0 6px;
}

.contact_item p a {
	color: #222;
}

.contact_item p.phone {
	background-image: url(images/phone.png);
	background-position: 0 0;
}

.contact_item p.fax {
	background-image: url(images/fax.png);
	background-position: 0 0;
}

.contact_item p.email {
	background-image: url(images/mail.png);
	background-position: 0 3px;
}

.contact_item input,
.contact_item textarea {
	width: 100%;
	height: 54px;
	display: block;
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #222;
	padding-left: 25px;
	font: 15px 'Raleway-Regular';
	color: #7b7b7b;
}

input::-webkit-input-placeholder {
	font: 15px 'Raleway-Regular';
	color: #7b7b7b;
}

input::-moz-placeholder {
	font: 15px 'Raleway-Regular';
	color: #7b7b7b;
}

textarea::-webkit-input-placeholder {
	font: 15px 'Raleway-Regular';
	color: #7b7b7b;
}

textarea::-moz-placeholder {
	font: 15px 'Raleway-Regular';
	color: #7b7b7b;
}

.contact_item textarea {
	padding-top: 29px;
	height: 125px;
}

.contact_item button {
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 10px;
	padding: 20px 0;
	background-color: #222;
	border: 0;
	font: 16px 'Raleway-Bold';
	color: #fff;
	cursor: pointer;
	transition: ease 0.5s;
}

.contact_item button:hover {
	background-color: #fff;
	border: 2px solid #222;
	color: #222;
}

		/* Google map */

.map {
	clear: both;
	width: 100%;
	height: auto;
	margin-top: 62px;
}

.map iframe {
	max-width: 100%;
}

		/* Footer */

footer {
	clear: both;
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 40px;
}

.footer_soc {
	margin: 40px 0 30px 0;
	font-size: 0;
}

.footer_soc a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 35px;
	background-image: url(images/footer.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer_soc a:last-child {
	margin-right: 0;
}

.footer_soc .facebook {
	background-position: -30px 0;
}

.footer_soc .google {
	background-position: -60px 0;
}

.footer_soc .in {
	background-position: -90px 0;
}

.footer_soc .insta {
	background-position: -120px 0;
}

footer p {
	font: 16px 'Raleway-Light';
	color: #787878;
}

footer p a {
	font: 16px 'Raleway-Bold';
	color: #222;
}

@media only screen and (min-width: 302px) and (max-width: 1340px) {
	body { width: 1365px; }
}